.tutorial {
    padding-left: 2px;
    font-size: 20px;
    left: 315px;
    background-color: #58efc4;
    color: #129c78;
}

.tutorial-content {
    position: relative;
    width: 100%;
    height: 100%;
}

.tutorial-content .tutorial-grid {
    left: 50%;
}

.pointer {
    position: absolute;
    top: 60%;
    left: 162px;
    font-family: 'icomoon';
    font-size: 16px;
    color: #fff;
    user-select: none;
    animation: pointerMove .5s infinite alternate;
}

.pointer:before {
    position: absolute;
    top: -30px;
    font-size: 30px;
}

@keyframes pointerMove {
    from {
        top: 60%;
    }
    to {
        top: 62%;
    }
}

.click-cell {
    animation: blockFlash 1s infinite alternate;
}

@keyframes blockFlash {
    from {
        background-color: rgba(250, 203, 89, .3)
    }
    to {
        background-color: #cc9d30;
    }
}

.introduction {
    position: absolute;
    top: 65%;
    left: 255px;
    transform: translate(0, -50%);
    width: 64px;
    color: #ccc;
    text-align: center;
    opacity: 0;
    user-select: none;
}